.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-margin-left {
  margin-left: 20px;
}
.btn-margin-right {
  margin-right: 20px;
}
.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}
/* some color for ag-grid table  */
.ag-theme-balham {
  --ag-foreground-color: black;
  --ag-header-foreground-color: rgb(0, 6, 8);
  --ag-background-color: rgb(194, 230, 255);
  --ag-range-selection-background-color-4: rgb(231, 249, 255);
  --ag-header-background-color: rgb(64, 196, 206);
  --ag-border-color: darkblue;
  --ag-row-border-color: darkblue;
  --ag-odd-row-background-color: rgb(221, 240, 252);
  --ag-row-hover-color: rgb(138, 235, 252);
}
.ag-row .ag-cell {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.react-datepicker__header {
  text-align: center;
  background-color: #50f3ff;
  border-bottom: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
  position: relative;
}

.react-datepicker__today-button {
  background: #25e7f5;
  border-top: 0px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: rgb(147, 221, 255);
  color: blue;
  border: 0px;
  border-radius: 1;
  display: inline-block;
  position: relative;
}

.block-example {
  width: 40rem;
  height: 20rem;
  margin: 3rem;
  background-color: rgba(136, 136, 136, 0.192);
  display: inline-block;
}
